# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out
example/*.pdf

# Go workspace file
go.work

# Vendor
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

TODO.md
present2pdf
!cmd/present2pdf